*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Navbar styling */
.navbar{
    background-color: gray;
}
.navbar-brand{
    margin-left: 1.2em;
    font-weight: bolder;
}
a.navbar-brand{
    font-size: 1.6em;
}
a.nav-link{
    background-color: white;
    border-bottom: 3px solid;
    font-weight: bold;
}
button.navbar-toggler{
    margin: auto;
    margin-right: 1.4em;
    margin-bottom: 0.5em;
}

/* content styling */
.content{
    margin-bottom: 2rem;
}
.content h3{
    font-weight: bold;
    margin-top: 1.2rem;
}
.content > div{
    background-color: gray;
    margin: 2rem 2.5rem auto 2.5rem;
    padding: 1.5em;
}
.content > div h4{
    font-weight: bold;
}
